body {
    /* colors: https://htmlcolorcodes.com/es/ */
    background-color: #F8CFFC;
}

.contact-form {
    padding: 20px;
    margin: 10px;
}

label {
    display: block;
    margin: 10px 0;
}

iframe {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    aspect-ratio: 16/9;
}

#myself-photo {
    width: 100%;
    aspect-ratio: 373/568;
}



